@font-face {
  font-family: dice;
  src: url("../assets/fonts/dice.otf");
}

@font-face {
  font-family: cyberpunky;
  src: url("../assets/fonts/magician_rings.ttf");
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  display: block;
  width: 750px;
  height: auto;
}

.co2 {
  width: 80px;
  height: auto;
  margin-top: -140px;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dice', sans-serif;
  text-align: center;
  z-index: 1;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: cyberpunky;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center; 
  color: #68fff0;
  text-shadow: 0 0 1px rgb(104, 255, 240);
  gap: 1rem; 
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: 3rem;
  font-weight: bold;
}

.unit {
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: -10px;
}

.label {
  font-size: 2rem;
  font-weight: 500;
}

.circle-container {
  position: relative;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
      0deg,
      #0d0d0d 0px,
      #0d0d0d 3px,
      #000000 2px,
      #000000 6px
    );
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,          
    rgba(255, 255, 255, 0.03) 50%, 
    rgba(0, 0, 0, 0) 100%         
  );
  animation: scan 2s linear infinite;
  pointer-events: none;
}

@keyframes scan {
  0% {
    top: 100%;
  }
  100% {
    top: -8%;
  }
}

.plus {
  position: absolute;
  color: #414c4a; 
  font-size: 30px;
  font-family: "Courier New", monospace; 
  font-weight: normal;
  text-shadow: 0 0 5px #414c4a;
  opacity: 0;
  animation: fade-in-out 3s infinite;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.description {
  position: absolute;
  bottom: 2%;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #252525;
  color: #fff;
  border-radius: 20px;
  opacity: 0.7;
  padding: 1rem;  
  z-index: 10;
}

.description p {
  text-align: justify;
  max-width: 42rem;
  margin-inline: auto;
  line-height: 1.5;
}

.copyright {
  font-size: 0.65rem;
}

.copyright a {
  color: #fff;
  text-underline-offset: 1px;
}

.circle-container-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px; /* Match the circle's dimensions */
  height: 750px;
  z-index: 1;
}

.text-wrap-right {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 750px;
  margin-left: 400px; /* Shift text-wrap outward */
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.text-wrap-right span {
  position: absolute;
  transform: rotate(var(--angle)) translate(350px) rotate(calc(-1 * var(--angle)));
  transform-origin: center center;
  font-size: 0.75rem;
  white-space: nowrap;
  text-align: left; /* Text flows outward from the edge */
  display: block; /* Ensures alignment consistency */
  color: #68fff0;
  font-family: Dice;
}


.circle-container-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px; /* Match the circle's dimensions */
  height: 750px;
  z-index: 1;
}

.text-wrap-left {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 750px;
  margin-left: -400px; /* Shift text-wrap outward to the left */
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: right; /* Ensures text alignment is correct */
  align-items: center;
  flex-wrap: wrap;
}

.text-wrap-left span {
  position: absolute;
  transform: rotate(var(--angle)) translate(-350px) rotate(calc(-1 * var(--angle)));
  transform-origin: center center;
  font-size: 0.75rem;
  white-space: nowrap;
  text-align: right; /* Ensures text flows outward from the edge */
  display: block; /* Ensures alignment consistency */
  color: #68fff0;
  font-family: Dice;
}