:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #0d0d0d;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transform: scale(0.9);
  transform-origin: top left;
  width: 111.111vw;
  height: 111.111vh;
}
